table {
    border-collapse: collapse;
}

td, tr {
    padding: 7px;
}

table, th, td {
    border: 1px solid white;
}

body {
    background-color:#F0F8FF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: #4682B4;
    color:white;
    font-size: 20px;
}

input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: #4682B4;
    color:white;
    font-size: 20px;
}

input[type=submit] {
    padding:5px 15px;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    color: #4682B4;
    font-size: 16px;
    font-weight: bolder;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.mid-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    background-color: #4682B4;
    -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.bottom-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    background-color: #4682B4;
    -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.game-box  {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    background-color: #4682B4;
    -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.68);
    text-align: center;
    color: white;
    border-radius: 15px;
    padding: 20px;
}

.invalid {
    color: #F08080
}

.side-note {
    font-size: 12px;
}

#welcome {
    width: 350px;
	font-weight: 500;
    height: 200px;
    padding:20px;
}

#log-in {
    width: 300px;
    padding-bottom: 30px;
}

#sign-up {
    width: 300px;
}

#game {
    width: 200px;
	font-weight: 300;
    font-size: 30px;
    padding: 20px;
}

#play {
    width: 85%;
    height: 85%;
    top: 68%;
    overflow-y: auto;
    line-height: 20px;
}

#admin {
    width: 450px;
    padding: 20px;
}

#deadend {
    width: 450px;
    padding: 15px;
}

#end-game {
    width: 450px;
    padding: 15px;
}

#delete-user {
    width: 450px;
    padding: 20px;
}

#update-user {
    width: 370px;
    padding: 20px;
}

#update-header {
    font-size: 25px;
}

#delete-header {
    font-size: 25px;
}

#page-link {
    padding: 5px;
    margin-bottom: 4px;
}

.main-header {
    font-weight: bolder;
    font-size: 45px;
}

.smaller-header {
    font-weight: 500;
    font-size: 30px;
}

.radio-option {
    font-size: 20px;
}

.main-link {
    color:white;
}

a:hover {
    color: gainsboro;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.select-style {
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 20px;
    color:#4682B4;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
