<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box" id="admin">
        <h2 class="smaller-header">Select a user to edit or delete</h2>
        <form action="/admin/select" method="post">
            <select name="user" class="select-style">
                {% for user in users %}
                    <option value="{{ user[0] }}">{{ user[1] }}</option>
                {% endfor %}
            </select>
            <br/><br/>
            <input type="radio" name="operation" value="edit" checked><label class="radio-option">Edit</label><br/>
            <input type="radio" name="operation" value="delete"><label class="radio-option">Delete</label>
            <br/><br/>
            <input type="submit" value="Submit">
        </form> </br>
        <a href="/"><button type="button" class="btn btn-primary">Go Home</button></a>
    </div>
</body>
</html>
