<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Difficulty</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box">
        <form method='POST' action='/chooseDifficulty'>
          <input type="radio" name="difficulty" value="0" checked style="vertical-align: middle"> Easy<br>
          <input type="radio" name="difficulty" value="1" style="vertical-align: middle"> Medium<br>
          <input type="radio" name="difficulty" value="2" style="vertical-align: middle"> Hard
          </br>
          </br>
          <input type="submit" value="Play">
        </form>
        </br>
    </div>
</body>
</html>
