<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play SpeedSearch</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box">
        <h2 class="smaller-header">Start Page: </h2>
        {{ start_game.decode('utf-8').replace("_", " ") }}
        <h2 class="smaller-header">End Page: </h2>
        {{ end_game.decode('utf-8').replace("_", " ") }}
        <h2 class="smaller-header">Ready for the challenge? </h2>
        <form action="/play" method="POST">
            <input type="hidden" name="starting" value="1">
            <input type="hidden" name="curr_page" value="{{ session['start_id'] }}">
            <input type="hidden" name="curr_page_title" value="{{ session['start_title'].decode('utf-8') }}">
            <input type="hidden" name="prev_page" value="">
            <input type="hidden" name="prev_page_title" value="">
            <input type="submit" value="Play Game">
        </form>
    </div>
</body>
</html>
