<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Game</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box" id="playgame">
        <h2 class="smaller-header">Start Page: </h2>
        {{ start_game }}
        <h2 class="smaller-header">End Page: </h2>
        {{ end_game }}
        <h2 class="smaller-header">Ready for the challenge? </h2>
        <a class="main-link" href="/play">Start Game</a>
    </div>
    <div class="mid-box">
    		<b>Note: Advanced functionality game generation happens in the background here </b>
    </div>
</body>
</html>