<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box" id="sign-up">
        <h1 class="main-header">Sign Up</h1>
        {% if alreadyExists: %}
            <h3 class="invalid">That username already exists</h3>
        {% endif %}
        {% if invalidPassword: %}
            <h3 class="invalid">Password didn't meet the length requirement you fool</h3>
        {% endif %}
        <form method='POST' action='/SignUp'>
            <input type="text" name="username" placeholder="Username"><br/>
            <input type="password" name="password" placeholder="Password"><br/>
            <div class="side-note">*Password must be at least 6 characters long</div>
            <br/><br/>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html>