<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=7">
</head>
<body>
    <div class="mid-box" id="delete-user">
        <h3 id="delete-header">Are you sure you want to delete user {{ user_info[1] }}?</h3>
        <form method="post" action="/admin/delete">
            <input type="hidden" name="user_id" value="{{ user_info[0] }}">
            <input type="radio" name="delete" value="no"> <label class="radio-option"> No, I'm sorry please take me back </label> <br/>
            <input type="radio" name="delete" value="yes"> <label class="radio-option"> Yes please get rid of this scum </label> <br/><br/>
            <input type="submit">
        </form>
    </div>
</body>
</html>