<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
    <h3>Are you sure you want to delete user {{ user_info[1] }}</h3>
    <form method="post" action="/Admin/Delete">
        <input type="hidden" name="user_id" value="{{ user_info[0] }}">
        <input type="radio" name="delete" value="no"> No, I'm sorry please take me back <br/>
        <input type="radio" name="delete" value="yes"> Yes please get rid of this scum <br/><br/>
        <input type="submit">
    </form>
</body>
</html>