<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box" id="game">
        {% if logged_in %}
            {% if admin %}
                <a class="main-link" href="{% print url_for('admin') %}">Admin links</a></br>
            {% endif %}
        {% endif %}
        <a class="main-link" href="/creategame">Play</a><br/>
        <a class="main-link" href="/highscores">High Scores</a><br/>
        <a class="main-link" href="/logout">Log Out</a>
    </div>
</body>
</html>
