<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed Search</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=2">
    <link rel="shortcut icon" href="/static/favicon.png" />
</head>
<body>
    <div class="mid-box" id="welcome">
        <h1 class="main-header">Speed Search</h1>
        <a href="/login" class="main-link"><h2>Log In</h2></a>
        <a href="/signup" class="main-link"><h2>Create An Account</h2></a>
    </div>
</body>
</html>
