<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="mid-box" id="log-in">
        {% if invalid: %}
            <h3 class="invalid">Invalid Credentials</h3>
        {% endif %}
        <form method='POST' action='/LogIn'>
            <input type="text" name="username" placeholder="Username"><br/>
            <input type="password" name="password" placeholder="Password"></br><br/>
            <input type="submit" value="Log in">
        </form>
    </div>
</body>
</html>