<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <h3>{{ user_info[1] }}'s admin status</h3>
    <form action="/admin/edit" method="POST">
        <input type="hidden" value="{{ user_info[0] }}" name="user_id">
        <input type="radio" name="adminRights" value="no" {% if not user_info[2]: %} checked {% endif %} >
            Not an Admin <br/>
        <input type="radio" name="adminRights" value="yes" {% if user_info[2]: %} checked {% endif %} >
            Admin <br/><br/>
        <input type="submit" value="Submit Changes">
    </form>
    </br>
    <a href="/"><button type="button" class="btn btn-primary">Go Home</button></a>
</body>
</html>
